<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkM7NUwtxv1WRjD4ZLkGrSR3WJphGaoJw</string>
	<key>GCM_SENDER_ID</key>
	<string>645043371139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.best-foody-mobile</string>
	<key>PROJECT_ID</key>
	<string>shoppingapp-c869d</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppingapp-c869d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645043371139:ios:6726f285d8553e36e0afb6</string>
	<key>DATABASE_URL</key>
	<string>https://shoppingapp-c869d-default-rtdb.firebaseio.com</string>
</dict>
</plist>